<div class="row">
  <div class="col-sm-4 col-sm-offset-4 hotel-form">

    <%= form_for @hotel do |f| %>
    <div class="form-group">
      <div class="color">
        <h2>Edit Hotel</h2>

        <div class="dropdown-menu">
            <form class="px-4 py-3">
        <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :class => 'form-control', :id => 'dropdownformname' %>
  </div>
</div>

    <%= f.label :room %>
    <%= f.text_field :room, :class => 'form-control'%>

    <div class="form-group">
    <%= f.label :room_type%>
    <%= f.text_field :room_type, :class => 'form-control' %>

    <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :class => 'form-control' %>

    <div class="form-group">
    <%= f.label :amenity %>
    <%= f.text_field :amenity, :class => 'form-control' %>

    <div class="form-group">
    <%= f.label :image %>
    <%= f.url_field :image, :class => 'form-control' %>
          </div>
        </div>

    <div class="btn btn-default">
    <%= f.submit %>

</div>
<% end %>

</div>
</div>
