

<h2>Hotels</h2>
<div class="hotels_list">
<ul>
  <div class="controls">
  <div class="first_hotel first_pic"><%= image_tag 'hotel2.jpg' %><%= link_to 'Royal Inn', show_path%>Royal Inn
  <div class="second_hotel second_pic"><%= link_to 'Hotel Paradise', show_path%>Hotel Paradise</div>
  <div class="third_hotel"><%= link_to 'Sparta Hotel', show_path%>Sparta Hotel</div>
  <div class="fourth_hotel"><%= link_to 'Alpha One', show_path%>Alpha One</div>
  <div class="fifth_hotel"><%= link_to 'Turtle on the Beach', show_path%> Turtle On The Beach</div>
</div>
</ul>
</div>
