<h2><%= @hotel.name %></h2>
<%= link_to 'All Hotels', hotels_path%>

<% if @hotel.image.present? %>
<%= image_tag @hotel.image, :alt => @hotel.name, :class => 'thumb' %>
<% end %>

<ul>
  <li>Name: <%= @hotel.name %></li>
  <li>Rooms: <%= @hotel.room %></li>
  <li>Room Type: <%= @hotel.room_type %></li>
  <li>Price: <%=  @hotel.price %></li>
  <li>Amenity: <%=  @hotel.amenity %></li>
</ul>


<button>User's Review<%= link_to 'show user', user_path%></button>

<ul>
<li>User Review: <% @hotel.reviews.each do |review| %>
  <p><%= review.content %></p></li>

  <li>User Name: <%= review.user.name%></li>
  <li>User's Review Date: <%= review.created_at.strftime '%B %d, %Y'%></li>
  </ul>

  <!-- show author name and date -->
<% end %>
<div class="controls">
  <%= link_to 'edit hotel', edit_hotel_path(@hotel.id) %>
  <%= button_to 'delete hotel', hotel_path(@hotel.id), :method =>'delete' %>
</div>

<h3>Booking</h3>
<%= render :partial => 'bookings/form' %>
