<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bgcolor">
    <nav>
      <div class="logo">
      </div>
      <div class="menu">
        <li>  <%= link_to 'Home', root_path %></li>


          <% if @current_user.present? %>
        <li>  <%= link_to "Sign Out#{@current_user.email}", login_path, :method => 'delete'%></li>
          <% else %>
          <% end %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Sign In', login_path %></li>
          <li><%= link_to 'Hotels', hotels_path %></li>

</div>
    </nav>

    <%= yield %>
  </body>
</html>
