<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    </head>

  <body background="https://i.pinimg.com/originals/5f/6c/e9/5f6ce9a1f9314411f671fda887fecb89.jpg" />

  <div class="container">

    <nav class="nav nav-tabs nav-justified">
        <%= link_to image_tag('logo.png', :class => 'logo'), root_path %>
          <% if @current_user.present? %>
            <%= link_to "Sign Out", login_path, :method => 'delete'%>
          <% end %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Sign In', login_path %>
          <%= link_to 'Hotels', hotels_path %>
    </nav>

    <%= yield %>
  </div>
  </body>
</html>
